[Desktop Entry]
Encoding=UTF-8
Name=Tk SmS
Comment=Simple interface to sms aplication
Comment[pl]=Prosty interfejs dla programu sms
Exec=tksms
Icon=sms.png
Terminal=false
Type=Application
Categories=Network;
# vi: encoding=utf-8
